<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img/pexels-matthardy-1533720.jpg" class="d-block w-100" alt="...">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Agua para el futuro.</h1>
          <p class="opacity-75">
            El agua no es obligación de un gobierno conservarla, es obligación
            de todos los ciudadanos protegerla, conservarla, y cuidarla..
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/pexels-pixabay-50677.jpg" class="d-block w-100" alt="...">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="text-dark">Recuerda que...</h1>
          <p class="text-dark">
            El derecho que tenemos todas las especies es el agua, es un mandato
            conservarla para un mejor futuro.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/pexels-yassin-doukhane-1334941-2570439.jpg" class="d-block w-100" alt="...">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>La importancia de la captacion.</h1>
          <p>
            La captación del agua para una mejor conservación es un principio
            que debemos cumplir y una iniciativa que debemos ejercer.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <h2 class="fw-normal">Sabias que...</h2>
      <p>
        Una persona requiere de 100 litros de agua al día (5 o 6 cubetas
        grandes) para satisfacer sus necesidades, tanto de consumo como de
        higiene.
      </p>
      <p><a class="btn btn-secondary" routerLink="comunidad">Seguir leyendo &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2 class="fw-normal">Sabias que...</h2>
      <p>
        El cuerpo humano está compuesto 60% de agua, lo que le permite tener un
        correcto funcionamiento.
      </p>
      <p><a class="btn btn-secondary" routerLink="comunidad">Seguir leyendo &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2 class="fw-normal">Sabias que...</h2>
      <p>
        Para producir una hamburguesa se requieren 2,400 litros de agua, que van
        desde la crianza de la vaca, hasta su traslado al lugar donde la
        consumiremos.
      </p>
      <p><a class="btn btn-secondary" routerLink="comunidad">Seguir leyendo &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col">
      <h2 class="featurette-Sabias que... fw-normal lh-1">
        ¿Cuanta agua podrías captar?
        <span class="text-body-secondary"> Es mas de la que puedes creer</span>
      </h2>
      <br><br>
      <h3>Metros cuadrados donde puedes captar agua.</h3>
      <input type="number" class="form-control w-25" aria-label="Metros cuadrados" id="metros_cuadrados" [(ngModel)]="metros_cuadrados"/>
      <br>
      <button class="w-25 btn btn-primary btn-lg" type="submit" (click)="calcularAhorro()">
        Calcular
      </button>
      <br><br>
      <h3>Un ahorro de {{ ahorro }} litros al año.</h3>
    </div>
  </div>

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
