<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">
        Congreso avala política de reúso, captación y ...
      </h1>
      <p class="lead my-3">
        14/05/2024. El pleno del Congreso local aprobó el dictamen presentado
        por Comisiones Unidas de Puntos Constitucionales e Iniciativas
        Ciudadanas y de Gestión Integral del Agua, para reformar la Constitución
        Política de la Ciudad de México, en materia de uso, aprovechamiento y
        distribución del agua.
      </p>
      <p class="lead mb-0">
        <a href="https://www.congresocdmx.gob.mx/comsoc-congreso-avala-politica-reuso-captacion-y-aprovechamiento-agua-pluvial-5261-1.html"
          target="_blank" class="text-body-emphasis fw-bold">Continua leyendo...</a>
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
          <h3 class="mb-0">La crisis del agua empeora en Ciudad de México</h3>
          <div class="mb-1 text-body-secondary">18 de mayo de 2024</div>
          <p class="card-text mb-auto">
            Una confluencia de factores como el cambio climático, la expansión urbanística y una infraestructura
            deficiente ha llevado a la capital mexicana al borde de una severa crisis de agua.
          </p>
          <a href="https://www.nytimes.com/es/2024/05/18/espanol/mexico-agua-crisis.html"
            class="icon-link gap-1 icon-link-hover stretched-link" target="_blank">
            Continuar leyendo
            <svg class="bi">
              <use xlink:href="#chevron-right" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Local</strong>
          <h3 class="mb-0">Captación de agua de lluvia será obligatoria</h3>
          <div class="mb-1 text-body-secondary">Nov 11</div>
          <p class="mb-auto">
            Lo que chilangos y chilangas han escuchado como propuestas de los candidatos y la candidata a la jefatura de Gobierno de CDMX o lo que ha sido un programa local ahora será una obligación de las autoridades de Ciudad de México: la captación de agua de lluvia.
          </p>
          <a href="https://www.sopitas.com/noticias/agua-captacion-lluvia-obligatoria-cdmx/" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank">
            Continuar Leyendo
            <svg class="bi">
              <use xlink:href="#chevron-right" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">De: ECOOSFERA</h3>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">
          Cómo crear un recolector de agua de lluvia, paso a paso
        </h2>
        <p class="blog-post-meta">
          <a href="https://ecoosfera.com/noticias/como-crear-un-recolector-de-agua-de-lluvia-paso-a-paso/"
            target="_blank">Ecoosfera</a>
        </p>

        <p>
          Una idea de la que nadie puede prescindir es que el agua, más allá de
          toda creencia, es un elemento sagrado. Algo que sin duda es necesario
          meditar, y comprender que, como colectividad, requerimos preservarla a
          lo largo del tiempo. En este sentido, elaborar un recolector de agua
          de lluvia es una forma de mostrar esa consciencia, y una
          responsabilidad mínima ante la probable escasez de este líquido vital.
        </p>
        <hr />
        <p>
          Quizá te resulte inspirador saber que mujeres en Sudáfrica han hecho
          ingeniosos sistemas de recolección para sobrevivir a las sequías.
          Recolectar agua de lluvia es fundamental para aprovechar al máximo
          este recurso en cualquier país, y la simple acción de construir tu
          propio recolector de agua de lluvia es una pequeña iniciativa que a la
          larga podría salvar a la región donde vivas de la escasez de agua.
        </p>
        <h2>Materiales</h2>

        <p>
          Barriles para almacenar agua
          <br>Lo importante es que puedan contener entre 100 y 200 litros de agua.
          <br>
          Lo demás lo consigues en cualquier ferretería:

          <br>Llaves para manguera, de 2.4cm, con roscas para tubos de 1.8cm.
          <br>Juntas de 1.8cm x 1.8cm (el mismo número de barriles que vayas a tener)
          <br>Bujes de 1.8cm x 1.8cm
          <br>1 rosca de tubo con adaptador para manguera de 2.5cm
          <br>Contratuercas de 1.8cm
          <br>4 arandelas metálicas por cada barril
          <br>1 rollo de cinta de teflón
          <br>1 tubo de sellador de silicona
          <br>codo de bajante pluvial para conectar el desagüe al primer barril recolector
          <br>Tela de mosquiteros de aluminio (pequeños rectángulos que funcionarán como filtro en la parte de arriba de
          tu recolector) Cómo
          <br>6 bloques de cemento por cada barril y un poco de grava (como base)
        </p>
        <h2 class="content-element-h2">Instrucciones:</h2>
        <p>Antes que nada, debes tener instalado un sistema de caneletas y tuberías, aquellas que normalmente llegan
          directo al piso. Modificarás el camino del agua, ayudándote del bajante pluvial (o codo). Pero primero debes
          hacer esto:</p>
        <p><span>1)</span> Construye una plataforma para el sostén de los barriles con los bloques. Aplana la zona
          lateral del desemboque del bajante pluvial o el tubo de metal que va de las canaletas del techo al piso.</p>
        <p><span>2)</span> Coloca una copa de grava en un rectángulo que hayas cabado, de 10 a 15 cm de profundidad,
          llenándolo con una capa de grava y con los bloques de cemento, y luego coloca los barriles. </p>
        <p><span>3) </span>Taladra o serrucha un hueco en el barril por donde caerá el agua, o en la tapa del bote de
          basura. Debe de ser del tamaño del bajante pluvial, para poder ajustarlo a él y no queden huecos. Realiza un
          agujero de 1.8cm en el costado para colocar la llave, a una altura que quepa un balde para tomar el agua
          posteriormente. Aplica sellador en el borde del hueco, tanto fuera como dentro del barril. Pon la llave,
          reuniendo la junta y la llave. Para hacerlo utiliza la cinta de teflón que envuelven los bordes enroscados,
          así quedará más hermético y evitarás cualquier fuga. Coloca una arandela en el tubo desde adentro, e
          inmediatamente después el buje para que fije la llave en el lugar.*</p>
        <p>*Si tienes duda sobre esto, consulta antes a un experto en la tienda a la que acudas. Él sabrá orientarte
          sobre cómo colocar perfectamente todas estas piezas, que a fin de cuentas no son sino una llave cualquiera
          conectada a tu bote recolector. </p>
        <p><span>4) </span>Crea una válvula de desagüe taladrando otro hueco a unos centímetros de la parte superior del
          barril (esta te puede servir después para conectar todos tus barriles). Tras colocar el sellador, pon la
          arandela en el adaptador de la manguera metiéndola en el hueco desde afuera. Después, pon la otra arandela
          en las roscas de adentro, añadiendo algo de cinta de teflón y una tuerca para ajustar todo. Finalmente,
          coloca la manguera directamente sobre la válvula.</p>
        <p><span>5) </span>Monta el sistema de recolección armando el codo de bajante pluvial. Conectalo poniendo el
          barril en la plataforma, de manera que se ajuste el agujero de la tapa con el bajante para que el agua
          desemboque en el barril. Corta el canal con una sierra, fijándo el bajante con tornillos y asegurándote de
          que estén bien apretados. Recuerda que el codo debe desembocar dentro del barril; no es suficiente que quede
          encima de él.</p>
        <p>Conecta el barril al codo usando la sierra para cortar un hueco en la tapa del barril, de manera que el borde
          del codo quede dentro. Finalmente, haz un pequeño filtro con el mosquitero, para filtrar el exceso de tierra
          que haya en el tejado.</p>
        <p>Si pusiste más barriles, los puedes conectar mediante la válvula de desagüe, pero el segundo barril
          necesitará un tercer agujero que funcione como desagüe, y así sucesivamente. Este debes hacerlo con el
          taladro a la altura de la válvula de escape, siguiendo los <a class="wpil_keyword_link"
            href="https://ecoosfera.com/destacados/10-mil-pasos-al-dia-el-mito-que-mejorara-tu-salud/" title="pasos"
            data-wpil-keyword-link="linked">pasos</a> de arriba para colorar la llave: colocando sellador en el
          agujero, luego el adaptador de manguera, dos arandelas y cinta teflón para ajustar. Luego puedes conectar
          los barriles entre sí con una manguera, que puedes comprar por metros en cualquier ferreteria, o con tubos
          delgados de PVC, para que se reparta el líquido.</p>
      </article>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Otra opción propuesta por el gobierno de Jalisco</h2>
        <p class="blog-post-meta">4 may 2021 del <a href="https://www.youtube.com/watch?v=szyc4G8RtsY"
            target="_blank">Gobierno de Jalisco</a></p>

        <div class="container">
          <iframe class="w-100" height="480" src="https://www.youtube.com/embed/tHonjtRqyCw"
            title="Proyecto Ecología - Captador  de agua pluvial casero" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem">
        <div>
          <h4 class="fst-italic">Noticias recientes</h4>
          <ul class="list-unstyled">
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="https://www.infobae.com/mexico/2024/05/16/estas-son-las-colonias-de-gustavo-a-madero-que-tendran-reduccion-de-agua-en-estos-dias-segun-sacmex/"
                target="_blank">
                <img src="/assets/img/pexels-pixabay-461329.jpg" class="img-thumbnail w-100" style="height: 96px"
                  alt="" />
                <div class="col-lg-8">
                  <h6 class="mb-0">Éstas son las colonias de Gustavo A. Madero que tendrán reducción de agua en estos
                    días, según SACMEX</h6>
                  <small class="text-body-secondary">17 May, 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="https://aristeguinoticias.com/1505/mexico/inai-ordena-a-pemex-informar-sobre-agua-contaminada-en-la-benito-juarez/">
                <img src="/assets/img/agua_contaminada.png" class="img-thumbnail w-100" style="height: 96px" alt="" />
                <div class="col-lg-8">
                  <h6 class="mb-0">INAI ordena a Pemex informar sobre agua contaminada en la Benito Juárez</h6>
                  <small class="text-body-secondary">15 May, 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="https://ecotec.unam.mx/ecoteca/colecta-de-agua-pluvial-como-medida-para-el-aprovechamiento-sustentable-de-la-energia">
                <img src="/assets/img/pexels-pixabay-62307.jpg" class="img-thumbnail w-100" style="height: 96px"
                  alt="" />
                <div class="col-lg-8">
                  <h6 class="mb-0">
                    Sistema de Captación de Agua de Lluvia (SCALL)
                  </h6>
                  <small class="text-body-secondary">Mayo 15, 2024</small>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Ligas de interés</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="https://www.gob.mx/conagua">CONAGUA</a></li>
            <li><a
                href="https://www.gob.mx/conagua/articulos/preguntas-frecuentes-sobre-los-lineamientos-de-aplicacion-de-la-nom-001-semarnat-2021-330138">FAQ
                NOM-001-SEMARNAT-2021</a></li>
            <li><a href="https://operaguaci.gob.mx/">OPERAGUA</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</main>
